<html>
  <!-- <head> -->
  <%- include('./partials/head') %>
  <!-- </head> -->
  <body>
    <h1> Bem vindo ao CRUD de Usuários </h1>
    <a class="button" href="/users/"> Iniciar </a>
  </body>
</html>